@model Visea_Expense_Manager.Models.Conger
@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4 style="margin-top:-14px">to</h4>
        <img src="~/images/logo-visea.svg" alt="ASP.NET" class="img-responsive" />
    </div>
</body>
