@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bonjour, ce site est le nouvel extranet de visea, il est en <b class="term"> phase de test </b> pour le moment.
    Ce site a été créé par <b class="term"> Ziane Layadi (zlayadi@viseaconsulting.com)</b>.
    Pour tout retour, bug ou demande d’amélioration <b class="term"> n’hésitez pas </b> à m'envoyer un mail.
    En effet le site est en amélioration constante, de nombreux points sont déjà créés mais n’ont pas encore passé les tests.
</p>


<iframe src="@Url.Content("~/Export/TutoTEMPOcorrectpdf.pdf")" asp-append-version="true" width="100%" height="1000"></iframe>